{{- /* 这里使用了 Go 模板的语法,将点替换为传递进来的值 */ -}}
这是一个演示文件。该代码从 info.yaml 文件中读取内容，并将数据应用于该模板中，通过模板中的模板语句输出这些内容
下面是 info.yaml 中所有的值
{{ . }}

代码维护者：{{ .Name }}

用户信息列表：
{{- range .User}}
用户名：{{.Name}}
{{- end}}

nginx 监听端口为：{{ .Nginx.Port }}